<h1>Weather Forecast</h1>
<%= form_tag(forecasts_path, method: :post, turbo: true) do %>
  <%= label_tag :address, 'Enter Address:' %>
  <%= text_field_tag :address %>
  <%= submit_tag 'Get Forecast' %>
<% end %>
<div id="forecast_results"></div>